{{ range service "api-cisconx" }}
  api-cisconx: {{ .Address }}:{{ .Port }};
{{ end }}

{{ range service "api-infoblox" }}
  api-infoblox: {{ .Address }}:{{ .Port }};
{{ end }}

{{ range service "api-f5" }}
  api-f5: {{ .Address }}:{{ .Port }};
{{ end }}

{{ range service "api-fortinetdb" }}
  api-fortinetdb: {{ .Address }}:{{ .Port }};
{{ end }}

{{ range service "api-vmware" }}
  api-vmware: {{ .Address }}:{{ .Port }};
{{ end }}

{{ range service "api-cisco-switch" }}
  api-cisco-switch: {{ .Address }}:{{ .Port }};
{{ end }}